/* Pantallas entre 3.5" y 4" */
@media screen and (min-width: 320px){
    :root {
        --imagenesNav: 30px;
        --imagenAvatar: 40px;
        --imgInove: 70%;
        --imgLenguajes: 30%;
        --imgContacto: 50%;
      }
}
/* Pantallas entre 4" y 5" */
@media screen and (min-width: 720px){
    :root {
        --imagenesNav: 30px;
        --imagenAvatar: 40px;

        --imgInove: 40%;
        --imgLenguajes: 20%;
        --imgContacto: 30%;
    }
}
/* Pantallas entre 5" y 6" */
@media screen and (min-width: 1080px){
    :root {
        --imagenesNav: 70px;
        --imagenAvatar: 80px;
        --imgInove: 70%;
        --imgLenguajes: 30%;
        --imgContacto: 30%;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color:#fffafa;
    font-weight: bold;
  }

body {
    width: 100%;
}
/* Header */
header {
    background-color: rgb(95, 94, 94);
}
nav ul{
    display: flex;
    padding: 20px;
    background-color: inherit;
    justify-content: space-around;
    align-items: center;
    object-fit:scale-down;
}

nav img {
    height: 30px;
    width: auto;
}

#avatar {
    height: 50px;
    width: auto;
}

nav img:hover {
    padding-bottom: 6px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-out 200ms;
    border-bottom: 2px solid red;
}



/* Section Inove */
.inove {
    height: 100vh;
    background-color: rgb(7, 63, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inove img {
    width: 50vh;
    min-width: 150px;
    max-width: 500px;
}

/* Section Lenguajes */
.lenguajes {
    height: 100vh;
    background-color: rgb(23, 23, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lenguajes img{
    display: flex;
    width: 20vh;
    min-width: 100px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
}

.lenguajes div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

/* Section Contacto */
.contacto {
    height: 100vh;
    /* background-color: rgb(23, 23, 70); */
    background-color: rgb(58, 10, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.contacto img {
    width: 50%;
    min-width: 150px;
    max-width: 300px;
}

